

<div class="container">
  <div class="row">
    <div class="col s12">
<h1>Alice in Lorem Ipsum Land</h1>
    </div>
  </div>
  <div class="row">
    <div class="col s4">
      <h5>How many paragraphs?</h5>
      <form action="#">
        <p class="range-field">
          <input type="range" id="quote_amount" min="1" max="10" value="1">
        </p>
      </form>

    </div>
  </div>

  <div class="row">
    <div class="col s4">
      <a class="waves-effect waves-light btn quotebutton">Click Me</a>
    </div>
    <div class="col s4">
      <a class="waves-effect waves-light btn copybutton" data-clipboard-target=".randomquote">Copy Me</a>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <p class="flow-text">
<span class="randomquote"></span>
      </p>
    </div>
  </div>

</div>
