

<div class="container">
  <div class="row">
    <div class="col s12">
<h1>Alice in Lorem Ipsum Land</h1>
    </div>
  </div>
  <div class="row">
    <div class="col s4">

    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <a class="waves-effect waves-light btn quotebutton">Click Me</a>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <p class="flow-text">
<span class="randomquote"></span>
      </p>
    </div>
  </div>

</div>
